@import "../helpers/mixins";
.testi{
    display: flex;
    padding: 0 35px;
    gap: 20px;
    @include media(mopile){
        flex-direction: column;
    }
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include media(mopile){
            gap: 20px;
        }
        .name>:nth-child(1){
            color: var(--orange);
        }
        .name>:nth-child(2){
            color: white;
        }
    }
    .left>:nth-child(1){
        color: var(--orange);
        font-weight: 700;
    
    }
    .left>:nth-child(2),
    .left>:nth-child(3){
        font-size: 3rem;
        font-weight: 700;
        color: white;
        @include media(mopile){
            font-size: 2rem;
        }
    
    }
    .left>:nth-child(4){
        color: white;
        text-transform: capitalize;
    
    }
    .right{
        flex: 1 1;
    position: relative;
    @include media(mopile){
        min-height: 350px;
    }
        .arrows{
            bottom: 1rem;
            display: flex;
            gap: 1rem;
            left: 3rem;
            position: absolute;
            @include media(mopile){
                bottom: -60px;
                left: 80px;
            }
            img{
                width: 25px;
                cursor: pointer;
                margin-right: 5px;
                transition: 0.3s;
             
            }
        }
        .img>:nth-child(1){
            height: 20rem;
            position: absolute;
            width: 17rem;
            background-color: initial;
            border: 2px solid orange;
            right: 9rem;
            top: 0.9rem;
            @include media(mopile){
                width: 15rem;
                right: 10px;
            }
        }
        .img>:nth-child(2){
       
    background: var(--planCard);
    height: 19rem;
    position: absolute;
    right: 7rem;
    top: 4rem;
    width: 17rem;
    @include media(mopile){
        right: -20px;
        width: 15rem;
    }

        }
        .img{
            img{
                height: 20rem;
                position: absolute;
                width: 17rem;
                object-fit: cover;
                right: 8rem;
                top: 2rem;
                @include media(mopile){
                    right:0;
                    width: 15rem;
                   
                }
            }
        }
    }
}